/* https://tailwind-lite.com/ */
/* change once bun supports the tailwind plugin for build - https://bun.sh/docs/bundler/fullstack#using-tailwindcss-in-html-routes */
@import url("./tailwind-lite.css");

.h-dvh {
	height: 100dvh;
}

.w-dvw {
	width: 100dvw;
}

.cm-editor {
	height: 100%;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid #ddd;
	font-size: 16px;
}

.cm-scroller {
	overflow: auto;
}

.cm-errorline {
	background-color: rgba(255, 0, 0, 0.35) !important;
	text-decoration: underline wavy red;
}
